body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;

}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #66BFBF;
  font-size: 2.5rem;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width :4%;
  margin: 100px auto;
}

p{
  line-height: 2;
}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 80px;
}

.middle-container {
   margin:100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;

}

.top-cloud {
  position: absolute;
  top: 40px;
  right: 300px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;

}

.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;

}

.code-img{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.burger-img{
  width: 25%;
  float: right;
  margin-left:30px;
}

.pro {
  text-decoration: underline;
}

.intro{
  width: 30%;
  margin: auto;
}

.contact-messsage{
  width: 40%;
  margin: 40px auto 60px;
}

.copyright{
  color: #EAF6F6;
  font-style: 0.75em;
  padding: 20px 0;
}

.btn{
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF !important;
  font-size: 20px;
  padding: 10px 20px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background: #11999E;
  background: linear-gradient(top,  #11CDD4,  #11999E);
  background: -ms-linear-gradient(top,  #11CDD4,  #11999E);
  background: -webkit-gradient(linear, left top, left bottom, from(#11CDD4), to(#11999E));
  background: -moz-linear-gradient(top,  #11CDD4,  #11999E);
}
.btn:hover {
  color: #ffffff !important;
  background: #468CCF;
  background: linear-gradient(top,  #30E3CB,  #2BC4AD);
  background: -ms-linear-gradient(top,  #30E3CB,  #2BC4AD);
  background: -webkit-gradient(linear, left top, left bottom, from(#30E3CB), to(#2BC4AD));
  background: -moz-linear-gradient(top,  #30E3CB,  #2BC4AD);
}

/* Mobile Responsiveness */
@media (max-width:480px) {
  .mountain{
    margin-top: 40px;
    width: 95%;
    margin-left: 10px;
    margin-right: 10px;
  }
  .top-cloud{
    top: 20px;
    right: 240px;
  }
  .bottom-cloud{
    top:570px;
    padding-bottom: 20px;
  }
  .h1{
    font-size: 2rem;
  }
  .h2{
    font-size: 1rem;
  }
}
